.calendar *,
.calendar *::after,
.calendar *::before {
    box-sizing: border-box;
}

.calendar {
    font-family: Inter;
    width: 665px;
    height: 274px;
    border-radius: 8px;
}

.calendar-table {
    background: #FAFBFC;
    border-collapse: collapse;
    border-radius: 8px;
}

/* table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
} */

.calendar-table td {
    text-align: left;
}
.day__th{
    max-width: 79px;
}
.date-nav {
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.date-nav__btn {
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.date-nav__btn.next {
    margin-left: 10px;
}

.day {
    max-width: 79px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #0F142D;
}

.date {
    max-width: 79px;
    margin-top: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;

    color: #6F7281;
}

.day-num {}

.month {}

.day-part {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 4px 10px 16px;
}

.left {
    width: 100px;
    padding: 16px 0;
}

.day-part_name {

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #0F142D;
}

.day-part_time {
    margin-top: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #6F7281;
}

.date-item {
    padding: 10px 4px 10px 16px;
}

.date-item.morning {
    background: #01977C;
}

.date-item.daytime {
    background: #FFD600;
}

.date-item.evening {
    background: #52C0FF;
}

.date-item.night {
    background: #FA6E33;
}

.date-item.disabled {
    background: #FAFBFC;
}